@charset "UTF-8";

@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
/* CSS RESET STYLES */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}








/* Global */

h1, h2, h3, h4, h5, ul, li, p, a {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	}

nav, section, .footer {
	width: 45.5em;
	margin: 0 auto;
	} 

#content-top, #content-bottom {
	width: 100%;
	} 
	





/* Header */

header {
	width: 100%;
	background-color: #FFFFFF;
	border-bottom: 1px solid #A1A1A1;
	height: 5em;
	position: fixed;
	top: 0;
	z-index: 9000;
	}

.navigation img {
	height: 2.5em;
	float: left;
	position: absolute;
	padding-top: 1em;
	}
	
ul.nav-links {
	text-align: right;
	padding: 0;
	margin: 0;
	}

ul.nav-links li {
	text-decoration: none;
	display: inline-block;
	padding-left: 2em;
	padding-top: 2em;
	color: #A1A1A1;
	font-weight: 400;
	}

header ul.nav-links li.active {
	font-weight: 700;
	color: #000;
	}
	





/* Big image */

#content-top {
	background-image: url("../images/first-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	height: 45.938em;
	position: relative;
	}

.introducing {
	position: absolute;
	width: 60%;
	height: 30%;
	top: 50%;
	left: 50%;
	margin: -10% 0 0 -30%;
	overflow: auto;
	}

.introducing h1, h2, h3 {
	color: #fff;
	text-align: center;
	}

.introducing h1 {
	font-size: 3em;
	line-height: 1em;
	margin-bottom: 0.5em;
	}

.introducing h2 {
	font-size: 1.5em;
	margin-bottom: 1em;
	}

button {
	background-color: #EE6804;
	width: 7.75em;
	padding: 0.75em 1.25em;
	border-style: none;
	border-radius: 5px;
	margin: 0 auto;
	position: relative;
	font-family: 'Lato', sans-serif;
	color: #FFF;
	font-size: 1.25em;
	text-align: center;
	display: block;
	}

button:hover {
	background-color: #CC2900;
	cursor: pointer;
}






/* Three sections on homepage */

.hp-first, .hp-second, .hp-third {
	width: 28.333%;
	margin: 0 2.5%;
	float: left;
	padding-bottom: 6em;
	}

	
.three-options h1 {
	color: #000;
	font-size: 3em;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 1em;
	}

.three-options h3 {
	color: #333;
	font-size: 1.5em;
	font-weight: 400;
	

	}

.three-options img {
	width: 80%;
	padding: 0 10% 10% 10%;
	}






/* Footer */

footer {
	clear: both;
	height: 25%;
	margin-top: 10%;
	padding-bottom: 10%;
}

#footer {
	border-top: 1px solid #A1A1A1;
	padding: 1.5em;
}

#footer h5, p, ul {
	text-align: center;
	color: #000;
}

#footer h5 {
	font-weight: 400;
}

#footer p {
	font-size: 0.9em;
	margin-top: 0.125em;
}

#footer ul {
	margin: 0;
	padding: 0;
}

#footer li {
	font-size: 100%;
	border-radius: 1.25em;
	width: 2.5em;
	height: 2.5em;
	display: inline-block;
	margin: 1.25em 5px;
	border: 1px solid #eaebec;
	text-align: center;	
	vertical-align: middle;
	padding: -0.5em 0 0.5em 0;
}

#footer li.twitter {
	color: #00aced;
}

#footer li.facebook {
	color: #3b5998;
}

#footer li.instagram {
	color: #517fa4;
}








